In [1]:
import mysql.connector

# Connect to server
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="")

# Get a cursor
cur = cnx.cursor()

# Execute a query
cur.execute("SELECT CURDATE()")

# Fetch one result
row = cur.fetchone()
print("Current date is: {0}".format(row[0]))

# Close connection
cnx.close()

Current date is: 2022-01-20

In [ ]:
#Exemple of use


from __future__ import print_function
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='scott', database='employees')
cursor = cnx.cursor()

tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO employees "
               "(first_name, last_name, hire_date, gender, birth_date) "
               "VALUES (%s, %s, %s, %s, %s)")
add_salary = ("INSERT INTO salaries "
              "(emp_no, salary, from_date, to_date) "
              "VALUES (%(emp_no)s, %(salary)s, %(from_date)s, %(to_date)s)")

data_employee = ('Geert', 'Vanderkelen', tomorrow, 'M', date(1977, 6, 14))

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information
data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'from_date': tomorrow,
  'to_date': date(9999, 1, 1),
}
cursor.execute(add_salary, data_salary)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', database='freeads')
cursor = cnx.cursor()


query = ("SELECT title, category FROM ads ")
cursor.execute(query)

for(title, category)in cursor:
 print("title : "+title)
 print("category : "+category)

In [5]:
import mysql.connector

cnx = mysql.connector.connect(user='root', database='YOWL')
cursor = cnx.cursor()

add_categories = ("INSERT INTO categories "
               "(name)"
               "VALUES (%s)")
cursor.execute(add_categories, ["moulinex"])

cnx.commit()

cursor.close()
cnx.close()